# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# EAS / Expo cache
.eascache/
eas-build/*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

# generated native folders (Expo managed)
ios/
android/

# IDE / editor folders
.vscode/
.idea/
